extends layout

block content
  h1 Whois
  p Enter IP Address or domain to perform lookup on: 
  input(type="text" class="address")
  button Perform Lookup

  textarea.msg
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  script(src="javascripts/main.js")