doctype html
html
  head
    title TextFun
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    script(src="/javascripts/main.js")