body, input, button 
  font-size 112.5%
  font-family 'Segoe UI'
  line-height 1.6

body
  width 80em
  max-width 90%
  margin 3em auto
  padding 0
  text-align center

a 
  color DodgerBlue

.heart 
  color hotpink



h1 
  font-weight 300
  
input
  padding .75em 1em
  border thin solid #eee
  border-radius 2px
  margin-right .5em

button
  padding .75em 1.25em
  border thin solid DodgerBlue
  color white
  background DodgerBlue
  cursor pointer
  border-radius 2px




.result 
  padding 3em 0

.loading
  color #999
  font-style italic
  


.result 
  overflow hidden

.forecast 
    width 33.33%
    float left
    box-sizing border-box
    padding 2em 1em

.date 
    font-weight 700

.desc 
    font-style italic

.rain-prob, .temperature 
    margin 1em 0

*:before 
  color #999

.rain-prob__day:before 
    content 'Probability of rain in the day: '

.rain-prob__night:before 
    content 'Probability of rain in the night: '

.temp__high:before 
    content 'Temperature High: '

.temp__low:before 
    content 'Temperature Low: '



  
.colophon
  background #f6f6f6
  padding 1.5em
  margin-top 3em