body
  width 50em
  margin 0 auto
  text-align center

body, input, textarea, button
  font-family Segoe UI
  font-size 112.5%
  
input, textarea, button
  padding 1em
  border-radius 2px
  border thin solid #eee
  
button
  background deepskyblue
  color white
  border none
  margin-left 1em

textarea
  display block
  width 100%
  resize none
  font-family monospace
  margin-top 3em
  height 35em
  display none

a
  color: #00B7FF